@charset "utf-8";
*{margin:0;padding:0;border:none;list-style:none;outline:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
img{border:none;margin:0;padding:0;vertical-align:bottom;}
input[type="button"],input[type="submit"],input[type="reset"]{-webkit-appearance:none;outline:none;}
a{text-decoration:none;color:#808080;-webkit-touch-callout: none;-webkit-tap-highlight-color:transparent;}
a:hover{-webkit-tap-highlight-color:transparent}
p{margin: 0;}
body{font-family:"微软雅黑";background:#fff;margin:0 auto;max-width:750px;font-size:0.28rem;box-sizing:border-box;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
/*加载图层*/
.loading_container{background-color: #ecf0f1;position: fixed;width: 7.5rem;height: 100%;top: 0;z-index: 999;}
.loading_container img{width: 100%;position: absolute;top: 50%;margin-top: -2rem;}